version: "3"
services:
  jekyll:
      image: jekyll/jekyll:4.2.2
      command: jekyll serve --force_polling --livereload
      ports:
          - 4000:4000
          - 35729:35729
      volumes:
          - .:/srv/jekyll
      environment:
        JEKYLL_UID: ${UID:-1000}
        JEKYLL_GID: ${GID:-1000}
