{% assign interests = site.data.data.interests %}
{% if interests %}
<section class="section interests-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-seedling fa-stack-1x fa-inverse"></i>
    </span>
    {{ interests.title }}
  </h2>

  {% if interests.intro %}
  <div class="intro">
    {{ interests.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for interest in interests.info %}
  <div class="item">
    {% if interest.link %}
      <li><a href="{{ interest.link }}">{{ interest.title }}</a></li>
    {% else %}
      <li>{{ interest.title }}</li>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
